; General settings
[General]
; Use libnx default font for ASCII characters
DefaultASCII=true
; Use libusbhsfs to access external USB drives
UseLibUsbHsFS=true
; Direct exit to homescreen when exiting DBI
ExitToHomeScreen=false
; Folder where saves backups are stored
SavesFolder=sdmc:/switch/DBI/saves/
; Log "Install", "Check integrity" and "Cleanup" processes
LogEvents=false
; Folder where logs are stored
LogsFolder=sdmc:/switch/DBI/logs/
; Sorting options for application list
AppSorting=Name,LastPlayed,InstallLocation,Size
; Sorting options for save list
SaveSorting=AppName,AppLastPlayed,UserUid,Size,SaveId
; Highlight available updates for currently installed titles in DBI's file browser
HighlightUpdates=true
; Rotate screen upside down
RotateScreen=false
; Rotate joycons
RotateJoycon=false
; Underclock CPU and GPU in menus to reduce battery usage
OptimizeClockSpeed=false

; Visibility of main menu options
[MainMenu]
; Browse and install files from MicroSD card
BrowseSD=true
; Browse and install files from external USB drives
USBHost=true
; Browse and install files from PC via dbibackend
BackendInstall=true
; Install game from inserted game cartridge
GameCard=true
; Browse and install files from configured network installation sources
Network=true
; Browse installed applications
BrowseApps=true
; Clean up files left from bad installations/old updates/unused tickets etc
Cleanup=true
; View or delete installed tickets
Tickets=false
; Dedicated save game management menu
Saves=true
; MTP responder
MTP=true

[Applications]
; Check LayeredFS mod size (large mods may take a long time)
CalculateLFSSize=false

; Installation options
[Install]
; Check NCA hash during installation
CheckHash=true

; MTP options
[MTP]
; Log all transfers on the console, if disabled only transfer of files >= 2M will be displayed
LogAllFiles=false
; Display combined NSPs which contain base game, latest update and all DLC in a single file
ShowCombinedNSP=true
; Display per game "Mods & cheats" folder that redirects to sdmc:/atmosphere/contents/TITLEID/
ShowMAC=true
; Display user defined custom virtual MTP drives
CustomStorages=true
; Enable 'NAND install' when running emuMMC
EnableNANDInstallOnEmunand=true
; Turn screen off when MTP mode is activated
TurnOffScreen=false

; Enable or disable virtual MTP drives
[MTP Storages]
1: External SD Card=true
2: Nand USER=false
3: Nand SYSTEM=false
4: Installed games=true
5: MicroSD install=true
6: NAND install=true
7: Saves=true
8: Album=true
9: Gamecard=true

; Network installation sources
[Network sources]
; <display name>=<type>|<URL>
; NSP Indexer=URLList|http://192.168.1.47/nspindexer/index.php?DBI
; Home server=ApacheHTTP|http://192.168.1.47/Nintendo/Switch/

; Main menu shortcuts to SD card locations
[Local sources]
; <display name>=<path>
; Homebrew Shortcut=sdmc:/switch
; Album Screenshots Shortcut=sdmc:/Nintendo/Album/2021/
; DBILogs=sdmc:/switch/DBI/logs
; AMS Fatal Reports Shortcut=sdmc:/atmosphere/fatal_reports/
; AMS Crash Reports Shortcut=sdmc:/atmosphere/crash_reports/

; Custom virtual MTP drives
[MTP custom storages]
; <display name>=<path>
Homebrew=sdmc:/switch

; Override for display name in DBI and MTP mode
[Title name override]
; <UPPERCASE TID>=<Desired name>
; 010023901191C000=Naheulbeuk
