; General settings
[General]
; Direct exit to homescreen
ExitToHomeScreen=true
; Folder where saves backups are stored
SavesFolder=sdmc:/switch/DBI/saves/
; Log "Install", "Check integrity" and "Cleanup" processes
LogEvents=false
; Folder where logs are stored
LogsFolder=sdmc:/switch/DBI/logs/
; Folder where game dumps are stored
DumpsFolder=sdmc:/switch/DBI/dumps/
; Sorting options for application list
AppSorting=LastPlayed,InstallLocation,Size,Name
; Sorting options for save list
SaveSorting=AppLastPlayed,AppName,UserUid,Size,Time
; Highlight files with updates to curently instaled titles in file browsers
HighlightUpdates=true
; Rotate screen upside down
RotateScreen=false
; Rotate joycons
RotateJoycon=false
; Underclock CPU in menues to reduce battery usage
OptimizeClockSpeed=true
; URL with title versions in format <id>|[rightsId|]<version>
;VersionsURL=https://raw.githubusercontent.com/16BitWonder/nx-versions/master/versions.txt
VersionsURL=https://raw.githubusercontent.com/blawar/titledb/master/versions.txt
;VersionsURL=sdmc:/versions.txt
;Browse saves FS in Read-only mode
ROSaveFS=false
; Show "Update all items from here..." in context menu of file browsers
ShowUpdateFromHere=true
; Show cache warming spinner
ShowCacheWarmingIndicator=true
; Move cursor down after selection
MoveDownAfterX=true
; Screen idle timeout in seconds
ScreenIdleTimeout=0
; Auto repeat nav. buttons when holding
Autorepeat=true
; Show cursors on both panels in two-panel browsinig mode
Secondcursor=false
; Backup saves before delete
FoolproofSaveDelete=true

; Visibility of main menu items
[MainMenu]
; Browse and install files from SD card
BrowseSD=true
; Browse and copy files from SYSTEM partition
BrowseSystem=false
; Browse and copy files from USER partition
BrowseUser=false
; Browse and install files from USB flash drives and HDD
USBHost=true
; Browse and install files from PC via dbibackend
BackendInstall=true
; Install game from inserted game cartridge
GameCard=true
; Browse and install files from configured network sources
Network=true
; Browse and install files from configured sd card folders
Local=true
; Browse installed applications
BrowseApps=true
; Check for app updates
UpdateCheck=true
; View where you can view or delete installed tickets
Tickets=true
; View where you can view or delete game saves
Saves=true
; MTP responder
MTP=true
; FTP Server
FTP=true
; Tools
Tools=true

[Applications]
; Whether check or not LFS mod size
CalculateLFSSize=true

; Install options
[Install]
; Check NCA hash during install
CheckHash=true
; Use chunked network transfer (good in bad environments)
ChunkedTransfer=false

; MTP options
[MTP]
; Log all files, if disabled transfer shows only for files >= 2M
LogAllFiles=false
; Show or not NSP that includes base game, latest update and all DLC in single multi-title file
ShowCombinedNSP=true
; Show or not virtual "Mods & cheats" folder that redirects to sdmc:/atmosphere/contents/TITLEID
ShowMAC=true
; Use TitleID for "Mods & cheats" folder
MACasTID=true
; Show user defined shortcuts to MircoSD folders as separate storages
CustomStorages=true
; Turn screen off on start MTP mode
TurnOffScreen=false
; Report android extension (some initiators thinks that android has bugs)
ReportAndroidExtension=true
; Use single URB transfer. Will be a lot slower, but can improve stability
SingleURB=false
; MTP transmission buffer size in KB
BufferSize=512
; MTP transmission timeout in ms
NewBufferTimeout=2500

; FTP options
[FTP]
; Turn screen off on start FTP mode
TurnOffScreen=false
; Start local access point for FTP server
UseAP=false
; Read file modification time (can slow down on large dirs)
ReadMT=false

; Access point options
[Access point]
SSID=
Password=
Use5GHz=true
Hidden=false


;Enable or disable various MTP storages
[MTP Storages]
1: SD Card=true
2: Nand USER=true
3: Nand SYSTEM=true
4: Installed games=false
5: SD Card install=true
6: NAND install=true
7: Saves=true
8: Album=true
9: Gamecard=false


; Network install sources
[Network sources]
; <display name>=<type>|<URL>
;NSP Indexer=URLList|http://192.168.1.47/nspindexer/index.php?DBI
;Home server=ApacheHTTP|http://192.168.1.47/Nintendo/Switch/
;Test FTP=FTP|ftp://192.168.1.24:2121/
;Test SFTP=SFTP|sftp://user:password@192.168.1.24/
;Test SFTP=SFTP|sftp://remote_user@192.168.1.47/
;Instead of password you can use sdmc:/switch/.ssh/id_rsa and sdmc:/switch/.ssh/id_rsa.pub files
;Sorry, but it seems to be libcurl limitation to use full keypair instead of only private key.

; Main menu shortcuts to SD card locations
[Local sources]
; <display name>=<path>
;Homebrew=sdmc:/switch
DBILogs=sdmc:/switch/DBI/logs

[MTP custom storages]
; <display name>=<path>
;Homebrew=sdmc:/switch
DBILogs=sdmc:/switch/DBI/logs

; Override for display name
; <UPPERCASED TID>=<Desired name>
[Title name override]
;010023901191C000=Naheulbeuk
